body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo {
  margin: 2rem;
}

.modal {
  max-width: none !important;
  min-width: 90% !important;
}

.cliente-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cliente-form input, select {
  min-width: 20rem;
}

.cliente-form div {
  margin: 0.7rem;
}

.clientes-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-wrap: wrap;
}

.cliente-card {
  border: 1px solid #dedede;
  width: 25rem;
  padding: 2em;
  border-radius: 10px;
  margin: 1em;
}

.cliente-card-nome {
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cliente-card-botoes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cliente-card-botoes button {
  margin: 0.5rem;
  width: 8rem;
}

.produtos {
	text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

@media (min-width: 1200px) {
  .produtos {
    flex-direction: row;
  }
}

.produtos li {
	text-align: center;
	min-width: 30%;
	padding: 30px 20px;
  margin: 1rem;
	border: 4px solid #dedede;
	border-radius: 30px;
}

.produtos li:hover {
	border-color: brown;
}

.produto-selecionado {
	border-color: brown !important;
}

.produtos li img {
  width: 60%;
  height: 60%;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 20px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

.navbar {
  box-shadow: 10px 1px 10px #dedede;
  font-size: 2rem;
}

.navbar-brand {
  background-size: contain;
  background-image: url('../public/images/logo-impacto.png');
  height: 8rem;
  width: 8rem;
  background-position: center;
  background-repeat: no-repeat;
}

.agendamentos-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-wrap: wrap;
}

.agendamento-card {
  border: 1px solid #dedede;
  width: 25rem;
  padding: 2em;
  border-radius: 10px;
  margin: 1em;
}

.agendamento-card-nome {
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.agendamento-card-botoes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.agendamento-card-botoes button {
  margin: 0.5rem;
  width: 8rem;
}

.lista-horarios {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 20rem;
  justify-content: center;
  align-items: center;
}

.lista-horarios-itens {
  border: 1px solid #dedede;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.horario-selecionado {
	border-color: brown !important;
}